<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="bulma.css">
	<title>Catalogo</title>
</head>
<body>
	<div id="app">
		<main class="section">
			<div class="container has-text-centered">
				<h1 class="title">Cat&aacute;logo</h1>
				<div class="columns has-text-left">
					<div class="column is-half">
						<div class="field">
							<label class="label">Nombre</label>
							<p class="control">
								<input type="text" class="input" placeholder="Nombre">
							</p>
						</div>
						
						<div class="field">
							<label class="label">Descripci&oacute;n</label>
							<p class="control">
								<input type="text" class="input" placeholder="Descripcion">
							</p>
						</div>
	
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field">
									<label class="label">Cantidad</label>
									<p class="control">
										<input type="number" class="input" placeholder="0" v-model="form.value">
									</p>
								</div>
								<div class="field">
									<label class="label">Costo</label>
									<p class="control">
										<input type="number" class="input" placeholder="0.00">
									</p>
								</div>	
							</div>
						</div>
						<div class="field">
							<p class="control">
								<button class="button is-success" @click="add">Agregar</button>
							</p>
						</div>
	
						<br>
	
						<div class="field is-grouped">
							<p class="control">
								<input class="input" type="text" placeholder="Codigo" v-model="form.code">
							</p>
							<p class="control">
								<button class="button is-info" @click="search">Buscar</button>
							</p>
							<p class="control">
								<button class="button is-danger" @click="remove">Eliminar</button>
							</p>
						</div>
					</div>
					<div class="column">
						<div class="field is-grouped is-grouped-centered">
							<p class="control">
								<button class="button is-primary" @click="list">Listar</button>
							</p>
							<p class="control">
								<button class="button is-info">Listar inverso</button>
							</p>
							<p class="control">
								<button class="button is-link" @click="inverse">Invertir</button>
							</p>
						</div>
						<div class="content">
							<ul>
								<li v-for="item in items">
									{{ item }}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-half">
						<div class="content">
							<pre>{{ catalog.first }}</pre>
						</div>
					</div>
					<div class="column">
						<div class="content">
							<pre>{{ result !== null ? result : 'null' }}</pre>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
<script src="Vue.js"></script>
<script src="Node.js"></script>
<script src="List.js"></script>
<script>
	const list = new List()
	const vm = new Vue({
		el: '#app',
		data: {
			catalog: list,
			result: null,
			items: [],
			form: {
				value: '',
				code: ''
			}
		},
		methods: {
			add: function() {
				const node = new Node(this.form.value)
				this.catalog.add(node)
				this.result = null
				this.items = []
			},
			search: function() {
				this.result = this.catalog.search(this.form.code)
				this.items = []
			},
			remove: function() {
				this.result = this.catalog.delete(this.form.code)
				this.items = []
			},
			inverse: function() {
				this.catalog.inverse()
				this.result = null
				this.items = []
			},
			list: function() {
				this.items = this.catalog.toArray()
				this.result = null
			}
		}
	})
</script>